// Custom.scss
// Option A: Include all of Bootstrap

//Custom variables
$bg-white: #fefefe;
$bg-light: #eee;

//Theme color overrides
$dark-green: #445c4f;
$light-bluegray: #d7dae5;
$pale-aqua: #b9cdda;
$robin-egg-blue: #a6d8d4;
$robin-egg-blue-dark: #397f78;
$robin-egg-blue-darkest: #24514e;
$dark-sea-green: #8eaf9d;

$primary: $dark-green;
$secondary: $robin-egg-blue;
//$success:       $green !default;
$info: $light-bluegray;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light: $pale-aqua;
$dark: $dark-sea-green;

//Body overrides
$body-bg: $bg-white;

//Font overrides
$font-family-base: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "../bootstrap/scss/bootstrap";

$font-family-serif: "PT Serif", georgia, serif;

::selection {
  background-color: $light;
}

body {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container {
  background: $bg-white;
  border-top-width: 5px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: $font-family-serif;
}

a {
  text-decoration: underline;
  line-height: 1.2em;
  display: inline-block;
  transition: all 0.15s;
  border-bottom: 5px solid transparent;

  &:hover {
    border-bottom-color: $secondary;
    text-decoration: none;
  }
}

.header {
  p.h1 {
    a {
      color: $robin-egg-blue-dark;
      display: inline;
      border-bottom: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.invalid-feedback {
  display: inline;
}

#to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.social {
  a {
    border-bottom: none;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

legend span {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-lg;
  color: $body-color;
  text-align: left;
}
